<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Binar Data Science Challenge Gold</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1> Binar Data Science Challenge Gold</h1>
        <h2>
            <a href="http://127.0.0.1:5000/swagger/">
               <button style="background-color: black; color:white; padding: 10px 20px; width: 150px; height: 50px">
                   1. Data Wrangling
               </button>
            </a>
        </h2>
        <h2>
            <a href="https://docs.google.com/presentation/d/1xtgc7oz_D0b25QNq-GqZTV1HPMBkGlER/edit?usp=sharing&ouid=105661469566744437973&rtpof=true&sd=true">
               <button style="background-color: black; color:white; padding: 10px 20px; width: 150px; height: 50px">
                   2. Data Analysis
               </button>
            </a>
        </h2>
</body>
</html>
